<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558779209147-tidps3hv3p793k7pqe33bk1agcc8p6jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558779209147-tidps3hv3p793k7pqe33bk1agcc8p6jn</string>
	<key>API_KEY</key>
	<string>AIzaSyAVGb89aTcGvNJQdZoRBRvLcVneKnXxN7s</string>
	<key>GCM_SENDER_ID</key>
	<string>558779209147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.knowledge_button_app</string>
	<key>PROJECT_ID</key>
	<string>knowledge-button-app</string>
	<key>STORAGE_BUCKET</key>
	<string>knowledge-button-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558779209147:ios:17f57fa1e5799f8918a09e</string>
</dict>
</plist>